# Minimal generator template

### About this template

This template is used for testing purposes to ensure that the blog's content generator has all the required fields available.

### Properties

- bug_fixes: Count <%= bug_fixes.count %>
- blog_title: <%= blog_title %>
- blog_description: <%= blog_description %>
- author_gitlab: <%= author_gitlab %>
- canonical_path: <%= canonical_path %>
- blog_tags: <%= blog_tags %>
- release_name: <%= release_name %>
- security_fixes: <%= security_fixes.count %>
- versions: <%= versions.join(', ') %>

### Funtions

- security_fixes?: <%= security_fixes? %>
- bug_fixes?: <%= bug_fixes? %>
- sorted_security_content: Count <%= sorted_security_content.size %>
  <%- sorted_security_content.each do |security_issue| %>
    - security - security_issue_header: <%= security_issue_header(security_issue) %>
    - security_issue_slug: <%= security_issue_slug(security_issue) %>
    - displayed_severity: <%= displayed_severity(security_issue) %>
  <% end %>
- sorted_table_content: Count <%= sorted_table_content.size %>
  <%- sorted_table_content.each do |security_issue| %>
    - table - security_issue_header: <%= security_issue_header(security_issue) %>
  <% end %>




