## Overview

| Start date | End date | Production deployments blocked for | # of blockers |
| ------ | -------- | ------| ------ |
| <%= start_time %> | <%= end_time %> | <%= production_blocked_time %> | <%= deployment_blockers.count %> |

## Failure types overview

| Failure Type | Time blocked on gstg | Time blocked on gprd |
| --- | ---- | --- |
<%- failure_types.each do |failure_type, blocked_time| -%>
| <%= '~"' + failure_type + '"' %> | <%= blocked_time[:gstg] %> | <%= blocked_time[:gprd] %> |
<%- end -%>
| **Total** | **<%= total_failure_type_gstg%>** | **<%= total_failure_type_gprd %>** |

## Weekly overview

| Issue  | Blocker type | gstg | gprd |
| ------------ | -----------| ---- | ---- |
<% deployment_blockers.map do |issue| -%>
| <%= issue.title %> | <%= issue.root_cause %> | <%= issue.hours_gstg_blocked %> | <%= issue.hours_gprd_blocked %> |
<% end -%>
| **Total** | | **<%= staging_blocked_time %>** | **<%= production_blocked_time %>** |

## Additional incidents

Below is a list of production incidents created last week.

<details><summary>Click to expand</summary>

| Issue   |
| ------- |
<% uncategorized_incidents.map do |issue| -%>
| <%= issue.title %> |
<% end %>

</details>

## Instructions

- [ ] Review the "Additional incidents" list and add the `Deploys-blocked` and `RootCause` labels if required.
- [ ] If values were updated and a new version of the report is required, retrigger this [pipeline job](<%= job_for_blockers_report %>) to update this report and metrics with the updated values. Consider this will discard any manual changes added.
- [ ] Update the "weekly overview" table of this issue to also include:
  - [ ] any blocking CRs
- [ ] Update the [Deployments metric review] epic.
  - [ ] Add a new row to the Overview section: Copy and paste the information from the Overview section in this issue and link to this issue in the `Breakdown of blockers` column.
  - [ ] Update the Graph: Update the data on the [spreadsheet] and then update the graph on the [Deployments metric review] epic.

:mega: The deployment blockers per week can now be visualized in the [Deployment Blockers Dashboard].

[Deployments metric review]: https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/1496
[spreadsheet]: https://docs.google.com/spreadsheets/d/1wzZE-3EU14jS0tkEDWrW7oCLH5Xr9ptwxQ8DEDgCxTA/edit?gid=527208806
[Deployment Blockers Dashboard]: https://dashboards.gitlab.net/d/delivery-deployment_blockers/delivery3a-deployment-blockers?orgId=1
