<!--

Please do not add any additional steps to this template. Instead, add a job to the
internal_release pipeline. Development guidelines can be found in doc/release-pipelines.md.

If you make any changes to this template in Release Tools, also make sure to
update any existing release issues (if necessary). If you've edited an active release issue
please consider making the same change in the template.

-->

## First steps

- [ ] Start the `internal_release_prepare:start` job in the internal release pipeline: <%= release_pipeline.web_url %>
- [ ] Identify the security issue associated with the ~severity::1 vulnerability: <ISSUE_LINK>
- [ ] Merge the security merge request targeting master: <MR_LINK>
- [ ] Request engineers to prepare backports for the internal versions: <%= regular_versions %>
- [ ] Ensure the security merge request is deployed to GitLab.com
- [ ] Request AppSec engineers to confirm the vulnerability has been remediated.
- [ ] Merge the backports associated with the internal versions: <%= regular_versions %>

## Internal package preparation

- [ ] Review the security merge request to determine if assets were modified. Have a look at the [How to determine if a security fix contains assets] runbook
  - [ ] If assets were included, enable the `internal_release_wait_for_build_assets_image` [feature flag].
- [ ] Start the `internal_release_release:start` job in the internal release pipeline: <%= release_pipeline.web_url %>. This job will trigger the process of building the internal release packages.
- **NOTE: If the `internal_release_wait_for_build_assets_image` is enabled, the `internal_release_release:build_package` job will wait for the `build-assets-image` job on the GitLab Dev instance. This will make
  the job execution to take considerable time (around 50 minutes)**
  - The `internal_release_verify:start` job will be automatically triggered 150 minutes later. If the situation allows feel free to start it earlier.

## Packaging

- [ ] Verify the `internal_release_verify:package_availability` job has successfully completed: <%= release_pipeline.web_url %>
- [ ] Check that the CNG Images are built.
  - Ensure that the latest three pipelines, created by `GitLab Release Tools Bot`, have passed.
    There's a set of 3 pipelines per version for regular, UBI, and FIPS. They're differentiated by manual pipeline variables, observable inside the pipeline view.
  <% versions.each do |version| -%>
  - [ ] <%= version.to_patch %>: [CNG builds](https://dev.gitlab.org/gitlab/charts/components/images/-/pipelines?scope=all&source=api&ref=<%= version.stable_branch %>)
  <% end %>

## Finalize

- [ ] Start the `internal_release_finalize:start` job in the internal release pipeline: <%= release_pipeline.web_url %>
- [ ] Notify the SIRT channel the internal release package is available.
- [ ] Ensure the security issue is associated with the next security tracking issue
  - [ ] Add the `reduced backports` and `security-target` labels to the security issue
  - [ ] Run the `security-target issue processor` [pipeline schedule](https://ops.gitlab.net/gitlab-org/release/tools/-/pipeline_schedules)
  - [ ] Verify the security issue is linked to the next security tracking issue: <%= security_tracking_issue.web_url %>
- [ ] Disable the `internal_release_wait_for_build_assets_image` [feature flag].

[How to determine if a security fix contains assets]: https://gitlab.com/gitlab-org/release/docs/-/blob/master/general/internal-releases/determine-if-security-fix-includes-assets-modifications.md
[feature flag]: https://ops.gitlab.net/gitlab-org/release/tools/-/feature_flags
